input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-right: 5px;
    font-size: 17px;
  }

 button {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 15px;
    margin-right: 16px;
    font-size: 17px;
}

